body {
    font-family: Arial, sans-serif;
}

form {
    width: 30em;
    padding: 5em;
    border: 1px solid #ccc;
    border-radius: 1em;
    background-color: #908f8f;
    font-weight: bold;
}

.form-group {
    display: flex;
    align-items: center;
    margin-top: 1em;
}

.form-group label {
    width: 8em;
}

.form-group input[type="text"],
.form-group input[type="email"],
.form-group input[type="tel"] {
    flex: 1;
    padding: 0.5em;
    border: 1px solid #ccc;
    border-radius: 0.5em;
}

.form-group input[type="radio"],
.form-group input[type="checkbox"] {
    margin-right: 0.5em;
}

input[type="submit"] {
    margin-top: 1em;
    padding: 0.7em;
    border: none;
    border-radius: 0.5em;
    background-color: #007BFF;
    color: white;
    font-size: 1em;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

.validation-message {
    color: red;
    font-size: 0.8em;
    display: none;
}
